#!/usr/bin/expect

# Copyright (c) IBM Corporation 2021

set host [lindex $argv 0];
if {$host eq ""} {
  puts "ERROR: missing <host>.\r"
  puts "Syntax: ssh_passwordless <host>.\r"
  puts "Add ssh key of the current user to /.ssh/authorized_keys on <host>.\r"
  exit 1
}

set password "{{ global.root_password }}"

if {$password eq ""} {
  puts "ERROR: Password is blank.\r"
  exit 1
}

set timeout 30
spawn /usr/bin/ssh-copy-id "root@$host"
expect  {
  "already exist"      { puts "already exist.\r"
                         exit 0
                       }
  "fingerprint\]\)\? " { send "yes\r"
                         exp_continue
                       }
  "password: "         { send "$password\r"
                         exp_continue
                       }
  "Permission denied"  { puts "ERROR: Permission denied - possibly incorrect password.\r";
                         exit 1
                       }
  "key\(s\) you wanted were added\."  { # password accepted
                         ;
                       }

}

puts "\rssh key install for root on $host succeeded.\r"
exit 0
